<!-- <main id="root"></main>-->


<% if logged_in? %>

<script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
</script>
<% end %>

<main id="root"></main>
<footer>

    
    
    <a href="https://github.com/js4484/ArtWalk">
        <i class="fab fa-github footer-icon"></i>
    </a>

    <a href="https://js4484.github.io/">
        <img class="footer-img"src="https://media-exp2.licdn.com/dms/image/C4D03AQFx_o6W6pkIQQ/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=I6Ggy4D0kdQCorYPkq03XgOm3gtqp29lWciChOP8JG0" alt="">
    </a>


</footer>