/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


body {
  font-family: 'Abel', sans-serif;
}

h4 {
  margin-bottom: 5px;
}

p {
  margin: 0;
}

.content {
  height: 100%;
}


.map {
  width: 500px;
  height: 500px;
  float: left;
  position: relative;
}

header {
  margin-left: 5%;
}

h1, h5 {
  margin-bottom: 0px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 90%;
  align-items: center;
  /* margin-top: 3%; */
  border-radius: 4px;
  /* box-shadow: inset 0 0 10px #000000; */
      /* margin-top: 3vh; */
  padding: 0 3% 0 7%;
  margin-left: 0;
  /* background-color: rgba(255, 255, 255, 0.315); */
  overflow: visible;

}

.nav-header-container {
  /* border-bottom: 1px solid #eeedf2; */
  background-color: #e4c7d9;
  display: flex;
  justify-content: center;

}

.index-image {
  max-height: 200px;
  max-width: 100px;
}

#root {
  background-color: #e4c7d9;
  min-height: 97vh;
  min-width: 100vw;
  padding-top: 3vh;
}

body {
  margin: 0;
}

.login-form-container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  /* height: 100vh; */
  /* background-color: lightgray; */
  background-color: rgba(255, 255, 255, 0.315);
  width: 33.33333333333334%;
  margin-left: 33.33333333333%;
  padding: 20px 0 20px 0;
  border-radius: 4px;
  /* box-shadow: inset 0 0 10px #000000; */
}

 .login-form {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
 }

.login-form-box {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
 }

.greeting-with-img {
  display: flex;
  align-items: center;
  flex-direction: column
}

.lgs {
  font-family: 'Chango', cursive;
  color: #633953;
  font-family: sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin: 0 0 0 0;
  
  /* text-shadow: 4px 4px 20px rgb(0, 0, 0); */
}

.after-lgs {
  font-family: sans-serif;
  font-size: 14px;
  color: #6f7287;
  transform: scale(0);
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 36px;
  background-color: transparent;
  padding: 5px;
  border-radius: 4px;
  border: 3px solid #633953;
  font-family: sans-serif;
  color: rgb(111, 114, 135);
  margin-bottom: 20px;
  cursor: text;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.536);
  background-color: #63395362;
}

.ib:hover {
    border: 3px solid rgb(29, 29, 128);
}

.ib:focus-within {
  border: 3px solid rgb(29, 29, 128);
}

.input-box input[type="text"] {
  margin: 0;
  border: none;
  background-color: transparent;
  height: 24px;
  font-size: 14px;
}

.input-box input[type="text"]:focus {
  outline: 0;
}


.input-box input[type="password"] {
  margin: 0;
  border: none;
  background-color: transparent;
  height: 24px;
  font-size: 14px;
}

.input-box input[type="password"]:focus {
  outline: 0;
}

.input-text {
  font-size: 12px;
  cursor: text;
}


.session-submit {
  /* background-color: #d1410c; */
  background-color: #633953;
  color: white;
  display: block;
  box-sizing: border-box;
  width: calc(80% + 6px);
  padding: 0 30px 1px;
  border: 3px solid #633953;
  padding: 5px;
  border-radius: 4px;
  padding: 6px;
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.536);
  margin: 6px 0 6px 0;
}

.session-submit:hover {
    /* background-color: rgb(98, 98, 230); */
    /* box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0); */
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.536);
    margin-left: 2px;
    margin: 10px 0 2px 0;
    color: #ECD9E5;
}

.fp {
  color: #3659e3;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

.fp:hover {
  text-decoration: #3659e3 underline;
}

.or {
  font-family: sans-serif;
  font-size: 14px;
  color: #39364f;
}


.demo-submit {
  background-color: #4267b2;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
  width: 80%;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.536);
  margin: 16px 0 6px 0;
  border: 0;
  border-radius: 4px;
  padding: 6px;
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.demo-submit:hover {
  filter: brightness(110%);
    /* box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0); */
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.76);
    margin-left: 2px;
    margin: 20px 0 2px 0;
}

 .login-input {
   margin-left: 20px;
 }

 .corner-logo {
   background-image: url('awlogo2.png');
  content: " ";
  height: 9vh;
  width: 9vh;
  background-size: contain;
  /* overflow: hidden; */
  border-radius: 50%;
  box-shadow: 0;
  transform: scale(1.2);
  
  position: relative;
  transition: transform ease-in-out 300ms;
  transition: box-shadow ease-in-out 200ms;
 }

 .corner-logo:hover {
  transform: scale(1.4);
  box-shadow: 0px 0px 0px 4px goldenrod;

  
 }

 /* .corner-logo::before{
   content: " ";
  position: absolute;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  top: 1vh;
  left: 1vh;
  background-color: gray;
  z-index: -1;
 } */


 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
   text-transform: capitalize;
 }

 .signup-names {
   /* width: 320px;
   margin-right: 10px; */
   display: flex;
   justify-content: space-between;
   width: calc(80% + 16px);
   
 }

 .input-names {
  display: flex;

  flex-direction: column;
  width: 43%;
  border: 3px solid #633953;
  height: 36px;
  background-color: transparent;
  padding: 5px;
  border-radius: 4px;
  /* border: 1px solid rgb(98, 98, 230); */
  font-family: sans-serif;
  color: white;
  margin: 0 0px 20px 0px;
  cursor: text;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.536);
  background-color: #63395362;
 }

.input-names:hover {
  border: 3px solid rgb(29, 29, 128);
}

.input-names:focus-within {
  border: 3px solid rgb(29, 29, 128);
}

.input-names input[type="text"] {
  margin: 0;
  border: none;
  background-color: transparent;
  height: 24px;
  font-size: 14px;
}

.input-names input[type="text"]:focus {
  outline: 0;
}


.input-names input[type="password"] {
  margin: 0;
  border: none;
  background-color: transparent;
  height: 24px;
  font-size: 14px;
}

.input-names input[type="password"]:focus {
  outline: 0;
}

.error-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.error {
  list-style-type: none;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(216, 51, 51);
}

.login-signup {
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: space-around;
  /* line-height: 4; */
  width: 30%;
}

.login-signup a {
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  color: #6f7287;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-link {
  /* height: 100%; */
  /* justify-content: flex-end; */
  position: relative;
  font-family: 'Abel', sans-serif;
  font-size: 26px;
  /* height: 30px; */
  overflow: visible;
  background-color: #ECD9E5;
  /* margin: 1% 1% 1% 1%; */
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 4px;
  box-shadow: 0;
transition: transform ease-in-out 300ms;
  transition: box-shadow ease-in-out 250ms;
}

.nav-link:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 0px 4px goldenrod;
}

/* .nav-link::after {
  position: absolute;
  content: " ";
  height: 10px;
  width: 0%;
  background-color: goldenrod;
  display: block;

  transition: width ease-in-out 500ms;
  left: 5%;
  right: 100%;
  
} */

/* .nav-link:hover::after {
  transform: scale(1, 1);
  width: 90%;
  
} */

.login-signup a:hover {
  color: black;
}

.show-page {
  background-color: #e4c7d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}

.event-container {
  border: 4px solid  rgb(228, 199, 217);
  /* border-radius: 4px; */
  margin: 3% 0 3% 0;
  width: 90vw;
  display: flex;
  flex-direction: column;
  max-height: 4000px;
  box-sizing: border-box;

}
.event-header {

  height: 80vh;
  
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(255, 255, 255, 0.315); */
  /* border-radius: 6px; */
  padding: 2% 0% 2% 2%;

  width: 100%;
  box-sizing: border-box;
  /* margin: 2% 0 2% 0; */
  
  
}




.ehd-container {
  display: flex;
  /* flex-direction: column; */
  font-family: 'Open Sans', sans-serif;
}

.ehd-day {
  padding-left: 1vw;
}

.eht-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}

.eht-title {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 36px;
  align-items: flex-end;
}

.eht-organizer {
  font-family: 'Open Sans', sans-serif;
  padding-top: 2vh;
}

.event-header-price {
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

.cost {
  padding-left: 1vw;
}

.event-header-details {
  height: 90%;
  width: 28.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 6px;
  padding: 1% 2% 0% 0%;
  background-color: #ECD9E5;
  margin-top: 2%;

  /* box-sizing: border-box; */

}

.event-midbar-container {
  width: 100%;
  
  /* height: 12vh; */
  background-color: #E4C7D9;
  z-index: 2;
  position: sticky;
  top: 0;
}

/* figure out sticky ticket bar, maybe react class change? */

.event-midbar::after {
  position: absolute;
  display: block;
  content: " ";
  background: #ECD9E5;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  right: -90%;
}

.event-midbar {
  z-index: 1;
  background-color: #ECD9E5;
  /* box-shadow: inset 0 0 10px #000000; */
  height: 10vh;
  width: calc(100%-30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2% 1% 2%;
  position: relative;
  top: 0px;
  border-radius: 6px;
  margin: 2% 0 2% 0;
  z-index: 200;
  /* margin-bottom: 2vh; */
  
}

.event-midbar::before {
  position: absolute;
  display: block;
  content: " ";
  background: #ECD9E5;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  right: 90%;
  
}


.midbar-share-icon{
  background-color: green;
  height: 20px;
  width: 20px;
}

.midbar-like-icon {
  /* background-color: red; */
  font-size: 20px;
  /* height: 20px;
  width: 20px; */
}

.event-midbar-event-info {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.mid-title {
  font-size: 24px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.mid-date {
  /* padding-left: 2vw; */
  font-size: 14px;
}

.event-midbar-tickets {
  font-family: 'Open Sans', sans-serif;
  border: 0px solid green;
  border-radius: 4px;
  background-color: green;
  width: 32%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

}

.event-midbar-tickets:hover {
  filter: brightness(115%);
}

.event-midbar-tickets div {
  color: white;

}

.event-body {
  display: flex;
  height: 1000px;
  border-radius: 6px;
  
}

.event-body-description {
  width: calc(66.6% - 50px);
  height: calc(100% - 50px);
  padding-left: 50px;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.315);
  /* box-shadow: inset 0 0 10px #000000; */
  border-radius: 6px;
  margin-right: 3%;
}

.event-body-description-title {
  font-size: 24px;
}

.event-body-description-faq-container {
  background-color: rgb(235, 235, 235);
  margin-right: 50px;
  padding: 20px;
  margin-top: 3%;
  /* box-shadow: 0 0 8px 0px black ; */
  border-radius: 6px;
  
}

.faq-inner-con {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: 20000px; */

}

.faq-q {
  padding-bottom: 10px;
}



.faq-header {
  /* border-bottom: 2px solid rgb(228, 199, 217); */
  padding-bottom: 3px;
  position: relative;
  margin-bottom: 4%;
  width: 100%;
  
}

.faq-header::after {
  position: absolute;
  content: " ";
  width: 90%;
  height: 1vh;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 6px;
  background-color: #ECD9E5;
  /* box-shadow: inset 0 0 10px #000000; */
  display:  block;

}



.faq-douple  {
  padding-top: 10px;
  /* position: relative; */

}

.faq-douple::after {
  /* position: absolute; */
  content: " ";
  width: 90%;
  height: 1vh;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 6px;
  background-color: #ECD9E5;
  /* box-shadow: inset 0 0 10px #000000; */
  display:  block;
}

.faq-douple:last-of-type::after {
  opacity: 0;
  margin: 0;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  padding-bottom: 20px;
}


.event-body-description-tags {
  padding-top: 20px;
}
.event-tag {
  border: 1px solid rgb(228, 199, 217);
  color: black;
  border-radius: 15px;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  width: auto;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  background-color: rgb(235, 235, 235);
  /* box-shadow: 0 0 8px 0px black ; */

}

.event-tag:hover {
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.509);
}

.event-body-sidebar {
  background-color: rgba(255, 255, 255, 0.315);
  /* box-shadow: inset 0 0 10px #000000; */
  width: calc(30.3% - 48px);
  padding-left: 50px;
  height: calc(100% - 50px);
  padding-top: 50px;
  border-radius: 6px;
}

.sidebar-element {
  display: flex;
  flex-direction: column;
}

.sidebar-location {
  display: flex;
  flex-direction: column;
}

.event-header-image-con {
  /* margin-top: 5%; */
  height: 100%;
  width: 66.6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    position: relative;
  /* margin-right: 2%; */
  
  padding-right: 2%;

}

/* .event-header-image-con::before {
  content: " ";
  background-image: url(frame.png);
  position: absolute;
  background-size: cover;
  height: 390px;
  width: 112%;
  overflow: hidden;
  
  top: -3.5%;
  left: -3.75%;
  box-sizing: border-box;

} */

.event-header-image {
  max-width: 100%;
  max-height: 100%;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(72, 72, 72);
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  border-radius: 6px;
  /* text-align: center; */
  /* margin: 2% 0 2% 2%; */
  position: relative;
}

.event-header-image::after {
  content: " ";
  background-image: url('goldframe.png');
  position: absolute;
  /* background-size: unset; */
  height: 80vh;
  width: 61vw;
  top: -3vh;
  left: -2vh;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: 61vw 80vh;
  overflow: visible;
}

/* .event-header-image::before {
  content: " ";
  background-image: url(leftcorner.png);
  position: absolute;
  height: 45vh;
  max-height: 360px;
  width: 45vh;
  background-size: cover;
  top: -5%;
  left: -3%;
} */

/* .event-header-image::after {
  content: " ";
  background-image: url(rightcorner.png);
  position: absolute;
  max-height: 360px;
  height: 45vh;
  width: 48vh;
  overflow: visible;
  background-size: cover;
  top: 12%;
  left: 45%;
  
} */

div span {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 7px;
}

.side-detail {
  font-family: sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}

.splash-img-con {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;
  background-color: #ECD9E5;
  /* box-shadow: inset 0 0 10px #000000; */
  /* box-shadow: inset 0 7px 9px -7px #000000; */
}



.splash-img {
  width: 100%;
  height: 100%;
  /* max-height: 1000%; */
  margin: 3% 0 3% 0;
  background-image: url('big3.jpg');
  background-repeat: no-repeat;

    background-size: cover;
    background-position: right;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  height: 80%;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(94, 94, 94, 0.705);
  font-family: 'Montserrat', sans-serif;
  /* padding: 20% 20% 20% 20%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: center;
}

.image-box-text {
  color: #e4c7d9;
  width: 50%;
  font-size: 36px ;
  text-indent: -10%;
  margin-left: 10%;
}
.image-box-text {
  quotes: "“" "”" "‘" "’";
  position: relative;
  z-index: 2;
}
.image-box-text::before {
  position: absolute;
    content: "\201C";
    color: rgba(236, 217, 229, 0.432);
    font-size: 400px;
    top: -50%;
    left: -25%;
    display: block;
    z-index: 1;
}
.image-box-text::after {
    /* content: close-quote; */
    content: "”";
    color: rgba(236, 217, 229, 0.432);
    font-size: 100px;
    position: absolute;
    /* top: 50%; */
    padding-left: 2%;
    
}

.artist-name {
  padding: 2% 0 3% 40%;
  text-align: right;
  color: #e4c7d9;
}

.splash-img::after {
  content: " ";
  width: 100%;
  height: 100%;
  /* box-shadow: inset 0 -7px 9px -7px #000000; */
  position: absolute;
  padding-bottom: 10%;

}

.text-banner {
  margin-bottom: 2%;
  font-family: 'Abel', sans-serif;
  font-size: 26px;
  
}

.event-index-container {
  
  /* height: 400px; */
  /* border: 1px solid rgb(255, 255, 255); */
  /* box-shadow: inset 0 0 10px #000000; */

  background-color: rgba(255, 255, 255, 0.315);
  /* border: 4px solid  rgb(228, 199, 217); */
  /* border-radius: 4px; */
  padding: 3% 0 3% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

}

.events-box {
  width: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.event-index-item {
  height: 230px;
  width: 230px;
  padding: 10px;
  margin: 2%;
  background-color:  rgb(228, 199, 217);
  border-radius: 4px;

  /* box-shadow: 0 0 8px black; */
}
.event-index-item:hover {
  cursor: pointer;
  animation: raise 300ms ease-in-out 0s 1 forwards;
}

@keyframes  raise {
  from {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 8px black
  }
  to {
    box-shadow: 0 0 8px black;
  }
}

.index-item-img-con {
  width: 100%;
  height: 66.666666%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  /* border: 1px solid white; */
    box-shadow: 0 0 0 0;

}
.event-index-item:hover .index-item-img-con {
  /* box-shadow: 0 0 0 0; */
  /* box-shadow: 0px 0px 5px 2px black;
  transform: scale(1.001); */
  animation: pic-raise 600ms ease-in-out 0s 1 forwards;
}

@keyframes  pic-raise {
  from {
    box-shadow: 0;
    transform: scale(1);
  }
  50% {
    box-shadow: 0;
    transform: scale(1);
  }
  to {
    box-shadow: 0px 0px 5px 2px black;
  transform: scale(1.001);
  }
}

.event-index-item:focus .index-item-img-con {
  /* box-shadow: 0 0 0 0; */
  box-shadow: 0px 0px 5px 2px black;
  transform: scale(1.001);
}


.index-item-img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  /* background-position: center; */
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(72, 72, 72);
  /* box-shadow: inset 0px 0px 5px 2px black; */
  
}

.index-item-text {
  background:  rgb(228, 199, 217);
  overflow: hidden;
  margin-top: 10px;
  margin-left: 5%;
}

.index-item-date {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(29, 29, 128);
}

.index-item-title {
  overflow: scroll;
  white-space: nowrap;
  margin-top: 5px;
  /* text-overflow: ellipsis; */
  
}


::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.event-index-item:hover .index-item-img {
  box-shadow: 0 0 0 ;
}


/* .index-item-title:hover {
  animation: textscroll 10s;
} */

/* @keyframes textscroll {
  0%{
    margin-left: 0%;
  }
  100% {
    margin-left: -150%;
  }
} */

.index-item-location {
  font-family: sans-serif;
  font-size: 14px;
  color: gray;
  margin: 3px 0 0 0;
}

.password-strength {
  padding-top: 15px;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ticket-form-container {
  height: 150px;
  width: 400px;
  background-color: rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 4px;
}

.ticket-button {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;

}

.ticket-button-text {
  color: black;
  font-weight: 600;
  font-size: 24px;
  background-color: white;

}

.to-flex-column {
  display: flex;
  flex-direction: column;
  

}

.to-flex-row {
  display: flex;
}

.disabled {
  background-color: rgb(64, 114, 64);
}

.disabled:hover {
  filter: brightness(100%);

}

.logout-btn {
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  color: #6f7287;
  padding: 0 10px 0 10px;
  border: none;
}

.ticket-form-btn {
  font-size: 20px;
  background: rgb(211, 211, 211);
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  padding: 0 10px 0 10px;
  border: none;
}

.lgs {
  font-family: 'Abel', sans-serif;
}

.demo-sub {
  margin: 16px 0 6px 0;
}

.demo-sub:hover {
  margin: 20px 0 2px 0;
}

.linebr-set {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 2vh;
  margin: 10px 0 20px 0;
  align-items: center;
}

.linebr {
  height: 1vh;
  width: 100%;
  border-radius: 4px;
  background-color: #e4c7d9;
  /* box-shadow: 1px 1px 8px rgb(0, 0, 0); */
  /* max-width: 300px; */
  
}
h1  {
  position: relative;
}

h1::after {
  position: absolute;
  content: " ";
  height: 10px;
  width: 0%;
  background-color: blueviolet;
  display: block;
  transform: scale(1, 1);
  /* transition: transform ease-out 250ms; */
  transition: width ease-out 5000ms;
  left: 0;
  right: 100%;
  
}

h1:hover::after {
  transform: scale(1, 1);
  width: 100%;
  
}

.input-text {
  color: rgba(128, 128, 128, 0.721);
}

button {
  background-color: transparent;
  color: none;
  border: 0;
  color: gray;
}

button:hover {
  color: black;
}